<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Employees</title>
        <link rel="stylesheet" href="styles/style.css">
    </head>

    <body>
        <%- include("nav_manager.ejs") %> 

        <h1>Employees</h1>
        <table>
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Hours Worked</th>
                    <th>Position</th>
                    <th>Active?</th>
                </tr>
            </thead>

            <tbody>
                <% employees.forEach(item => { %> 
                    <tr>
                        <form action="/manager/employees/update" method="POST">
                            <td>
                                <%= item.employee_id %> 
                            </td>
                            <td> 
                                <%= item.employee_name %>
                            </td>
                            <td> 
                                <input type="number" name="salary" value="<%= item.salary %>" min="0">
                            </td>
                            <td> 
                                <input type="number" name="hours_worked" value="<%= item.hours_worked %>" min="0">
                            </td>
                            <td>
                                <input type="text" name="position" value="<%= item.position %>">
                            </td>
                            <td>
                                <select name="employment_status">
                                    <option value="true" <%= item.employement_status ? 'selected' : '' %>>Active</option>
                                    <option value="false" <%= !item.employement_status ? 'selected' : '' %>>Inactive</option>
                                </select>
                            </td>
                            <td>
                                <input type="hidden" name="employee_id" value="<%= item.employee_id %>">
                                <button type="submit"> Save </button>
                            </td>
                        </form>

                        <td>
                            <form action="/manager/employees/delete" method="POST">
                                <input type="hidden" name="employee_id" value="<%= item.employee_id %>">
                                <button type="submit" style="color:red"> Delete </button>
                            </form>
                        </td>

                    </tr>
                <% }) %>
            </tbody>
        </table> 

        <form action="/manager/employees/add" method="POST">
            <label>Employee ID:</label>
            <input type="text" name="employee_id" required>

            <label>Name:</label>
            <input type="text" name="employee_name" required> 

            <label>Salary:</label>
            <input type="text" name="salary" min="0" required>

            <label>Hours Worked:</label>
            <input type="text" name="hours_worked" min="0" required>

            <label>Position:</label>
            <input type="text" name="position" required>

            <label>Active?:</label>
            <input type="checkbox" name="employement_status" required>

            <button type="submit">Add Item</button>
        </form>


        <div class="footer">
            Created by Fall 2025 Team 42.
        </div>
    </body>
</html>