<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pricing</title>
        <link rel="stylesheet" href="styles/style.css">
    </head>

    <body>
        <%- include("nav_manager.ejs") %> 

        <h1>Pricing</h1>
        <table>
            <thead>
                <tr>
                    <th>Size</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody>
                <% pricing.forEach(item => { %> 
                    <tr>
                        <form action="/manager/pricing/update" method="POST">
                            <td>
                                <%= item.size %> 
                            </td>

                            <td> 
                                <input type="number" name="price" value="<%= item.price %>" min="0.00">
                            </td>

                            <td>
                                <input type="hidden" name="size" value="<%= item.size %>">
                                <button type="submit"> Save </button>
                            </td>
                        </form>

                        <td>
                            <form action="/manager/pricing/delete" method="POST">
                                <input type="hidden" name="size" value="<%= item.size %>">
                                <button type="submit" style="color:red"> Delete </button>
                            </form>
                        </td>

                    </tr>
                <% }) %>
            </tbody>
        </table> 

        <form action="/manager/pricing/add" method="POST">
            <label>Size:</label>
            <input type="text" name="size" required>

            <label>Pricing:</label>
            <input type="text" name="price" required>

            <button type="submit">Add Item</button>
        </form>

        <div class="footer">
            Created by Fall 2025 Team 42.
        </div>
    </body> 
</html>