<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Recipes</title>
        <link rel="stylesheet" href="styles/style.css">
    </head>

    <body>
        <%- include("nav_manager.ejs") %>

        <h1>Recipes</h1>
        <table>
            <thead>
                <tr>
                    <th>Recipe ID</th>
                    <th>Menu Item ID</th>
                    <th>Item ID</th>
                    <th>Quantity Required</th>
                </tr>
            </thead>

            <tbody>
                <% recipes.forEach(item => { %> 
                    <tr>
                        <form action="/manager/recipes/update" method="POST">
                            <td>
                                <%= item.recipe_id %> 
                            </td>
                            <td> 
                                <%= item.menuitem_id %>
                            </td>
                            <td> 
                                <%= item.item_id %>
                            </td>
                            <td> 
                                <input type="number" name="quantity_required" value="<%= item.quantity_required %>" min="0">
                            </td>
                            <td>
                                <input type="hidden" name="recipe_id" value="<%= item.recipe_id %>">
                                <button type="submit"> Save </button>
                            </td>
                        </form>

                        <td>
                            <form action="/manager/recipes/delete" method="POST">
                                <input type="hidden" name="recipe_id" value="<%= item.recipe_id %>">
                                <button type="submit" style="color:red"> Delete </button>
                            </form>
                        </td>

                    </tr>
                <% }) %>
            </tbody>
        </table> 

        <form action="/manager/recipes/add" method="POST">
            <label>Recipe ID:</label>
            <input type="number" name="recipe_id" min="0" required>

            <label>Menu Item ID:</label>
            <input type="number" name="menuitem_id" min="0" required>

            <label>Item ID:</label>
            <input type="number" name="item_id" min="0" required>

            <label>Quantity Required:</label>
            <input type="number" name="quantity_required" min="0" required>

            <button type="submit">Add Item</button>
        </form>

        <div class="footer">
            Created by Fall 2025 Team 42.
        </div>
    </body> 
</html>